body {
  background-color: #042f4b;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ed1250;
  border-width: 5px;
  width: 5%;
}

h1 {
 color: #ff935c;
}

h3 {
 color: #ff935c;
}

p {
  color: #fff6da;
}

a {
  color: #ed1250;
}

table {
  color: #fff6da;
}

ul {
  color: #fff6da;
}
